@font-face {
    font-family: "Praysire-Demo";
    src: url("../fonts/Praysire-Demo.woff2") format("woff2");
	 font-weight: 400;
	 font-style: normal;
	 font-display: swap;
}
@font-face {
	font-family: "Helvetica-Roman";
	src: url("../fonts/Helvetica-Neue-Roman.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica-Bold";
	src: url("../fonts/Helvetica-Neue-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica-Black";
	src: url("../fonts/Helvetica-Neue-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}