/* =================================Підключення обнулення стилів======================================= */

@import url("reset.css");

/* =================================================================================================== */
/* =================================Підключення шрифів================================================ */

@import url(fonts.css);

/* =================================================================================================== */
/* =================================Плавна прокрутка сайту============================================ */

:root {
	scroll-behavior: smooth;
}

/* =================================================================================================== */
/* =================================Основні параметри сторінки======================================== */

body{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #1A1A1A;
	box-shadow: 0px 0px 24px 0px rgba(115, 115, 115, 1);
}

/* ========================================================================================== */
/* =================================Контейнер================================================ */

.wrapper{
   max-width: 1440px;
   margin: 0 auto;
}

/* ======================================================================================= */
/* =================================Header================================================ */

.header {
	margin-bottom: 24px;
	background-image: url("../img/01.png"), linear-gradient(180deg, rgba(26, 26, 26, 1) 0%, rgba(11, 11, 11, 1) 50%, rgba(18, 18, 18, 1) 100%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* ======================================================================================= */
/* ==================================items================================================ */


.items{
	max-width: 100%;
}

.nav {
	padding: 20px 0;
}

.list{
	width: 151px;
}

.nav .list {
	display: inline-block;
	background: #ffffff;
	color: black;
	word-wrap: break-word;
	word-break: break-all;
	max-width: 200px;
}

.nav a {
	font-size: 16px;
	line-height: 1.2;
	padding: 10px 20px;
}

.nav .list:hover {
	transition: all .3s;
	box-shadow: 0px 10px 13px -7px #4CAF50, 5px 5px 15px 5px rgba(0,0,0,0);
	box-shadow: 0px 10px 13px -7px #4CAF50, 5px 5px 15px 5px rgba(0,0,0,0);
}

.items{
	margin: 0 10px;
}

.items li{
	margin-bottom: 7px;
	max-height: 39.19px;
	overflow: hidden;
}

/* ======================================================================================= */

/* ===================================MAIN================================================ */

.main {
	max-width: 1100px;
	margin: 0 auto;
}

.section{
	padding: 20px 0;
	text-align: center;
}

.section-container {
	padding: 80px 0;
}

.section-content{
	margin: 0 20px;
}

.section-content h1 {
	font-size: 72px;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.section-content h1 span {
	font-weight: 700;
	background-color: #ffffff;
	color: #000000;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	word-break: break-all;
}

.section-content .subtitle {
	font-size: 16px;
	line-height: 1.6;
}

/* ================================================================================================= */
/* =========================================about=================================================== */


.about{
	max-width: 930px;
	margin: 0 auto;
	background-color: #2a2a2a;
	border-radius: 4px;
}

.about__container{
	margin-bottom: 50px;
}

.about__content{
	padding: 50px 0 45px 0;
}

.content-block {
	position: relative;
	text-align: center;
	padding: 32px 0;
	overflow: hidden;
}

.block-text {
	font-weight: 900;
	font-size: 96px;
	text-transform: uppercase;
	color: #303030;
	line-height: 1;
	user-select: none;
	word-break: break-all;

}

.block-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	margin-bottom: 20px;
}

.block-title h2 {
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 2;
	font-size: 32px;
	font-weight: 700;
}

.block__subtitle p{
	font-family: "Helvetica Roman", sans-serif;
	font-size: 16px;
	line-height: 1.2;
	padding: 0 50px;
}

.block-title{
	margin-bottom: 30px;
}

.block__subtitle{
	margin-bottom: 45px;
}

.block__subtitle span{
	font-weight: 700;
	color: #FF9500;
}

.divider {
	width: 60px;
	height: 3px;
	background-color: #34C759;
	margin: 0 auto 0;
}

/* ========================================================================== */
/* ============================cards========================================= */

.cards{
	margin-bottom: 30px;
}

.cards-items {
	margin: 0 -34px;
	font-size: 0;
}

.cards-item {
	display: inline-block;
	padding: 0 34px;
	font-size: 16px;
}

.cards-item{
	margin-bottom: 15px;
}

.cards-link {
	max-width: 350px;
	display: inline-block;
}

.cards-link img {
	max-width: 100%;

}

/* ================================================================================ */
/* =========================border================================================= */

div[section="-"]{
	max-width: 1100px;
	margin: 0 auto;
}

.border {
	padding: 24px 0;
}
.border-items {
	display: inline-block;
	max-width: 255px;
	padding-left: 15px;
	padding-right: 15px;
}

.border-item{
	margin-bottom: 20px;
	background-color: #252525;
	text-align: left;
	padding: 15px 31px 5px 24px;
	border-radius: 20px;
	box-shadow: 0px 10px 13px -7px #4CAF50, 5px 5px 15px 5px rgba(0,0,0,0);
}

.border-item h3{
	font-size: 22px;
	letter-spacing: -0.28px;
}

.border-item p{
	font-size: 13px;
	line-height: 1.8;
}

.border-divider {
	display: inline-block;
	width: 60px;
	height: 3px;
	background-color: #34C759;
	margin: 20px 0;
}

.border-item::first-letter{
	text-transform: uppercase;
}

.border-item p {
	text-transform: none;
}

.border-item p code {
	text-transform: uppercase;
}


/* ================================================================================================= */
/* =====================================border====================================================== */

.item-border--solid {
	border: 1px solid #34C759;
}

.item-border--dotted{
	border: 2px dotted #34C759;
}

.item-border--dashed{
	border: 2px dashed #34C759;
}

.item-border--double{
	border: 3px double #34C759;
}

/* ================================================================================================= */
/* ======================================border===================================================== */

.item-border--top {
	border-top: 1px solid #34C759;
}

.item-border--right{
	border-right: 2px dotted #34C759;
}

.item-border--bottom{
	border-bottom: 2px dashed #34C759;
}

.item-border--left{
	border-left: 3px double #34C759;
}


/* ================================================================================================= */
/* ======================================outline==================================================== */

.item-border--outline-width:hover {
	outline-width: 3px;
	outline-style: dotted;
	outline-color: #34C759;
	outline-offset: 1px;
}

.item-border--outline-style{
	outline: 2px dashed #34C759;
}

.item-border--outline-color{
	outline: 2px solid #FF9500;
}

.item-border--outline-offset{
	outline: 2px solid #34C759;
	outline-offset: 5px;
}

/* ================================================================================================= */
/* =====================================visibility================================================== */

.item-border--border-radius{
	border-radius: 50px;
}

.item-border--box-shadow{
	box-shadow: 10px 10px 5px #34C759;
}

.item-border--opacity{
	opacity: 0.5;
}

.item-border--visibility{
	/* ffa600 */
	box-shadow: inset 7px 7px #FF9500;
	visibility: visible;
}


/* ================================================================================================= */
/* ==============background-color, background-image, background-image: linear-gradient============== */

.item-border--background-color-green{
	background-color: #34C759;
}

.item-border--background-color-green .border-divider{
	background-color: #121212;
}

.item-border--background-image{
	background-image: url('../img/05.png');
}

.item-border--background-linear-gradient{
	background-image: linear-gradient(135deg, #34C759 0%, #FF9500 100%);
}

.item-border--background-color-orange{
	background-color: #FF9500;
}

/* ================================================================================================= */
/* = background-repeat: repeat; , background-repeat: no-repeat; background-repeat: repeat-x; background-repeat: repeat-y; = */

.item-border--repeat{
	background-image: url('../img/04.png');
	background-repeat: repeat;
	max-width: 255px;
	background-size: contain;
}
.item-border--no-repeat{
	background-image: url('../img/05.png');
	background-repeat: no-repeat;
	max-width: 255px;
	background-size: contain;

}

.item-border--repeat-x{
	background-image: url('../img/05.png');
	background-repeat: repeat-x;
	max-width: 255px;
	background-size: contain;

}

.item-border--repeat-y{
	background-image: url('../img/04.png');
	background-repeat: repeat-y;
	max-width: 255px;
	background-size: contain;

}

/* ================================================================================================= */
/* = background-position: top; , background-position: right; background-position: right; background-position: left; = */

.item-border--background-position-top{
	/* background-image: url('../img/04.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain; */
	background: url('../img/04.png') no-repeat top / contain;
	max-width: 255px;
}

.item-border--background-position-right{
	background: url('../img/05.png') no-repeat right / contain;
	max-width: 255px;
}

.item-border--background-position-bottom{
	background: url('../img/05.png') no-repeat bottom / contain;
	max-width: 255px;
}


.item-border--background-position-left{
	background: url('../img/04.png') no-repeat left / contain;
	max-width: 255px;
}

/* ================================================================================================== */
/* ========================================ATTACHMENT================================================ */

.item-border--attachment-fixed{
	background: url('../img/04.png');
	background-attachment: fixed;
	max-width: 255px;
}

.item-border--size-cover{
	background: url('../img/05.png') no-repeat center;
	background-size: cover;
	max-width: 255px;
}

.item-border--clip{
	background: url('../img/05.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: text;
	color: transparent;

	/* background-position: center;
	background-size: cover;
	border: 1px dashed rgba(143, 67, 67, 1);
	background-clip: padding-box;
	max-width: 255px; */
}

.item-border--size-contain{
	background: url('../img/04.png') center;
	background-size: contain;
	max-width: 255px;
}


/* ================================================================================================== */
/* =========================================Стрілки на CSS=========================================== */

/* .arrow-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid green;
	border-bottom: 50px solid transparent;
	margin-right: 100px;
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid green;
	border-bottom: 50px solid transparent;
} */
/* .arrow-top {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
}
.arrow-bottom {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid green;
} */

/* ================================================================================================== */
/* ========================================Hero====================================================== */

.hero {
	font-size: 0;
	margin-bottom: 80px;
	background-image: url(../img/06.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 114px 0;
}

.hero-container{
	max-width: 1392px;
	margin: 0 auto;
}

.hero-image{
	max-width: 650px;
	margin-left: auto;
}

.hero-text {
	background-size: cover;
	background-position: center;
	text-align: left;
}

.content-title {
	display: block;
	text-transform: uppercase;
	color: #2F302C;
	letter-spacing: 2px;
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: "Lato", sans-serif;
}

.content-subtitle {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 95px;
	line-height: 1;
	color: #2F302C;
	text-transform: uppercase;
	margin-bottom: 20px;
	word-break: break-all;
}

.content-subtitle + .content-label {
	margin-top: 36px;
}

.content-line {
	width: 308px;
	height: 1px;
	background-color: #2F302C;
	margin-bottom: 36px;
}

.content-label {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #2F302C;
	font-size: 20px;
	margin-bottom: 20px;
	letter-spacing: 1px;

}

.text-content p {
	color: #7E7F7C;
	line-height: 1.5;
	max-width: 400px;
	font-size: 16px;
}


/* ================================================================================================== */
/* ========================================Hero====================================================== */

.price {
	max-width: 1069px;
	margin: 0 auto;
}
.price-container {
	display: inline-block;
	margin: 0 10px 20px 10px;
	max-width: 351px;
	background-color: #fff;
	color: #252B42;
	text-align: left;
	padding: 40px 40px;
	border-radius: 10px;
}
.price-content {
	margin-bottom: 17px;
}

.price-container:hover{
	background-color: #E1F4FF;
	cursor: pointer;
	transition: all 0.3s;
	min-height: 626px;
}

.price-content h5 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.1px;
	text-transform: capitalize;
	line-height: 1.5;
}

.amount {
	display: inline-block;
}

.amount-container {
	display: inline-block;
	padding: 8.5px 0;
}

.amount-price {
	display: inline-block;
	vertical-align: middle;
	font-size: 40px;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.2px;
	line-height: 1.2;
	color: #252B42;
}

.amount-info{
	display: inline-block;
   vertical-align: middle;
	margin-left: 12px;
}

.amount-info span{
	color: #252B42;
   display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 1.2;
}

.amount-info p {
	display: inline-block;
	font-family: "Montserrat",sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #737373;
	letter-spacing: 0.2px;
}

.price-line {
	width: 50px;
	height: 4px;
	background-color: #31A0FE;
	margin: 17px 0;
}

.price-info p {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #737373;
	letter-spacing: 0.2px;
	line-height: 1.5;
	margin-bottom: 37px;
}

.price-list {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 33px;
}
.list-item {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5;
	margin-bottom: 15px;
	min-height: 32px;
	padding-left: 45px;
	padding-top: 5px;
	padding-bottom: 5px;

}

.active {
	background: url("../img/07.jpg") 0 0 no-repeat;
}

.non-active {
	background: url("../img/08.jpg") 0 0 no-repeat;
}

.list-item:last-child{
	margin-bottom: 0;
}

.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #252B42;
	font-weight: bold;
	border: 2px solid #252B42;
	padding: 1rem 0;
	border-radius: 30px;
	transition: 0.3s;
}

.btn:hover {
	background-color: #1a1a1a;
	color: #fff;
}

/* ================================================================================================== */
/* ========================================Footer==================================================== */

.footer-title{
	font-size: 24px;
	padding: 24px;
}

/* ================================================================================================= */
/* ================================================================================================= */
